<template>
    <ContentComponent />
</template>

<script>
import ContentComponent from '../components/Content.vue'

export default {
  name: 'ContentComp',
  components: {
     ContentComponent
  }
}
</script>

<style>
</style>