<template>
    <ConversationComponent />
</template>

<script>
import ConversationComponent from '../components/Conversation.vue'

export default {
  name: 'Conversation',
  components: {
    ConversationComponent
  }
}
</script>

<style>
</style>