<template>
    <EditContentComponent />
</template>

<script>
import EditContentComponent from '../components/EditContent.vue'

export default {
  name: 'EditContentComp',
  components: {
     EditContentComponent
  }
}
</script>

<style>
</style>