<template>
<v-container fluid class="pa-0 fill-height">
  <v-row align="center" justify="center" class="fill-height" no-gutters>
    <v-col cols="12" md="8" class="fill-height login-bg d-none d-md-block">
    </v-col>
    <v-col align="center" justify="center" cols="12" md="4">
      <h1>FUTURE HEALTH LIVE</h1>
      <h2>Login</h2>
    <LoginForm />
    <p style="font-weight: bold;">Don't have an account? <a href="/register">Sign Up</a></p>
    </v-col>
  </v-row>
</v-container>
</template>

<script>
// @ is an alias to /src
import LoginForm from '@/components/LoginForm.vue'
export default {
  name: 'Login-Form',
  components: {
    LoginForm
  }
}
</script>

<style scoped>
.login-bg {
  background-image: url('https://futurehealthlive.s3-eu-west-1.amazonaws.com/views/login/Screen-3.jpg');
  background-size: cover;
  background-position: center center;
}
</style>