<template>
    <CompanyComponent />
</template>

<script>
import CompanyComponent from '../components/CompanyProfile.vue'

export default {
  name: 'CompanyProfile',
  components: {
    CompanyComponent
  }
}
</script>

<style>
</style>