<template>
    <MyContentComponent />
</template>

<script>
import MyContentComponent from '../components/MyContent.vue'

export default {
  name: 'MyContentComp',
  components: {
     MyContentComponent
  }
}
</script>

<style>
</style>