<template>
    <UserComponent />
</template>

<script>
import UserComponent from '../components/UserProfile.vue'

export default {
  name: 'MyProfile',
  components: {
    UserComponent
  }
}
</script>

<style>
</style>