<template>
    <NewConversationComponent />
</template>

<script>
import NewConversationComponent from '../components/NewConversation.vue'

export default {
  name: 'NewConversation',
  components: {
    NewConversationComponent
  }
}
</script>

<style>
</style>