<template>
    <NewContentComponent />
</template>

<script>
import NewContentComponent from '../components/NewContent.vue'

export default {
  name: 'NewContentComp',
  components: {
     NewContentComponent
  }
}
</script>

<style>
</style>