<template>
<v-container fluid class="pa-0 fill-height">
  <v-row align="center" justify="center" class="fill-height">
    <v-col align="center" justify="center" cols="12">
      <h1>FUTURE HEALTH LIVE</h1>
      <h2>Register</h2>
      <v-tabs :centered="true">
        <v-tab>
            Buyer
        </v-tab>
        <v-tab>
            Seller
        </v-tab>
    
        <v-tab-item>
            <RegisterFormBuyer />
        </v-tab-item>
        <v-tab-item>
            <RegisterFormSupplier />
        </v-tab-item>
    </v-tabs>
    <p style="font-weight: bold;">Have an account? <a href="/login">Log in</a></p>
    </v-col>
  </v-row>
</v-container>
</template>

<script>
// @ is an alias to /src
import RegisterFormSupplier from '@/components/RegisterFormSupplier.vue'
import RegisterFormBuyer from '@/components/RegisterFormBuyer.vue'
export default {
  name: 'Register-Form-Supplier',
  components: {
    RegisterFormSupplier,
    RegisterFormBuyer
  }
}
</script>

<style scoped>
.register-bg {
  background-image: url('https://futurehealthlive.s3-eu-west-1.amazonaws.com/views/login/Screen-3.jpg');
  background-size: cover;
  background-position: center center;
}
</style>