<template>
    <SuppliersComponent />
</template>

<script>
import SuppliersComponent from '../components/Suppliers.vue'

export default {
  name: 'SuppliersComp',
  components: {
    SuppliersComponent
  }
}
</script>

<style>
</style>