<template>
    <SupplierComponent />
</template>

<script>
import SupplierComponent from '../components/Supplier.vue'

export default {
  name: 'CompanyProfile',
  components: {
    SupplierComponent
  }
}
</script>

<style>
</style>