<template>
<v-container>
<UserComponent />
<v-list dense>
        <v-list-item link to="/">
          <v-list-item-action>
            <v-icon>mdi-home</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>Dashboard</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item link to="/suppliers">
          <v-list-item-action>
            <v-icon>mdi-home</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>Suppliers</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item link to="/my-inbox">
          <v-list-item-action>
            <v-icon>mdi-home</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>My Inbox</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item v-if="userType == 'seller'" link to="/my-company">
          <v-list-item-action>
            <v-icon>mdi-home</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>My Company</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item v-if="userType == 'seller'" link to="/my-content">
          <v-list-item-action>
            <v-icon>mdi-home</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>My Content</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item link to="/my-profile">
          <v-list-item-action>
            <v-icon>mdi-home</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>My Profile</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item v-if="loggedIn" link @click="logout">
          <v-list-item-action>
            <v-icon>mdi-home</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>Logout</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
</v-list>
</v-container>
</template>

<script>
import UserComponent from './UserCard.vue'
import { authComputed } from '../vuex/helpers.js';
import { userState } from '../vuex/helpers.js';
export default {
components: {
    UserComponent
},
methods: {
        logout () {
          this.$store.dispatch('logout')
        }
},
computed: {
        ...authComputed,
        ...userState
}
}
</script>

<style>
</style>
