<template>
      <v-container>
        <v-row
          align="center"
          justify="center"
        >
    <p class="error" v-if="error">{{ error }}</p>
      <v-form class="mx-auto mb-3"
      v-for="(company, index) in company" v-bind:item="company" v-bind:index="index" v-bind:key="company._id" ref="form" v-model="valid" lazy-validation @submit.prevent="updateCompany()">
      <v-container fluid>
      <v-row>
        <v-col cols="12">
          <v-hover v-slot:default="{ hover }">
        <v-avatar tile size="200">
            <img :src="company.logourl" >
        <v-expand-transition>
        <div v-if="hover" class="d-flex transition-fast-in-fast-out v-card--reveal" style="height: 100%;">
        <v-icon x-large color="white">mdi-camera</v-icon>
        </div>
        </v-expand-transition>
        </v-avatar>
          </v-hover>
    </v-col>
      </v-row>
      </v-container>

      <v-container fluid>
      <v-row>
         <v-col cols="12">
          <h3>My Company Profile</h3>
          </v-col>
        <v-col cols="12">
        <v-text-field v-model="company.companyname" :rules="nameRules" label="Company Name" outlined></v-text-field>
      </v-col>
      <v-col cols="12">
        <v-text-field v-model="company.website" :rules="nameRules" label="Website" outlined></v-text-field>
      </v-col>
        <v-col cols="12">
        <v-text-field v-model="company.phone" :rules="nameRules" label="Phone" outlined></v-text-field>
      </v-col>
        <v-col cols="12">
        <v-text-field v-model="company.email" :rules="emailRules" label="Email" outlined></v-text-field>
      </v-col>
      </v-row>
    </v-container>

    <v-container fluid>
      <v-row>
          <v-col cols="12">
          <h3>Address</h3>
          </v-col>
        <v-col cols="12" md="4">
        <v-text-field v-model="company.address.line1" :rules="nameRules" label="Address Line 1" outlined></v-text-field>
      </v-col>
        <v-col cols="12" md="4">
      <v-text-field v-model="company.address.line2" :rules="nameRules" label="Address Line 2" outlined></v-text-field>
      </v-col>
        <v-col cols="12" md="4">
      <v-text-field v-model="company.address.city" :rules="nameRules" label="City" outlined></v-text-field>
      </v-col>
    <v-col cols="12" md="4">
      <v-text-field v-model="company.address.postcode" :rules="nameRules" label="Zip/Postal Code" outlined></v-text-field>
      </v-col>
        <v-col cols="12" md="4">
        <v-text-field v-model="company.address.region" :rules="nameRules" label="Region/Province" outlined></v-text-field>
        </v-col>
          <v-col cols="12" md="4">
        <v-select v-model="company.address.country" :rules="nameRules" :items="countryList" label="Country" outlined></v-select>
        </v-col>
      </v-row>
    </v-container>

    <v-container fluid>
      <v-row>
         <v-col cols="12">
          <h3>Product and Services</h3>
          </v-col>
        <v-col cols="12">
      <v-textarea v-model="company.description" label="Description" outlined></v-textarea>
      </v-col>
        <v-col cols="12" md="4">
            <v-select
            v-model="company.category"
          :items="categories"
          label="Category"
          outlined
        ></v-select>
            <v-select
            v-model="company.subcategory"
          :items="subcategories"
          label="Sub-Category"
          outlined
        ></v-select>
      </v-col>
      </v-row>
    </v-container>
 
    <v-container fluid>
      <v-row>
          <v-col cols="12">
            <v-file-input name="logourl" ref="fileInput" id="fileInput" label="File input" @change="processFile"></v-file-input>
      <v-btn v-ripple small color="primary" class="mb-4" type="submit" :disabled="!valid"><v-icon>mdi-thumb-up</v-icon></v-btn>
      <v-alert type="success" v-if="success">{{ successmsg }}</v-alert>
      </v-col>
      </v-row>
    </v-container>
      </v-form>
</v-row>
</v-container>
</template>

<script>
import CompanyService from '../../server/mongo/companyservice';

export default {
  name: 'CompanyProfile',
  data() {
    return {
      company: [],
      categories: ['Foo', 'Bar', 'Fizz', 'Buzz'],
      subcategories: ['Foo', 'Bar', 'Fizz', 'Buzz'],
      error: '',
      success: '',
      successmsg: 'Profile Updated',
      valid: true,
      nameRules: [
        v => !!v || 'Field can not be empty'
      ],
      emailRules: [
        v => !!v || 'E-mail is required',
        v => /.+@.+\..+/.test(v) || 'E-mail must be valid'
      ],
      countryList : ["Afghanistan","Albania","Algeria","Andorra","Angola","Anguilla","Antigua &amp; Barbuda","Argentina","Armenia","Aruba","Australia","Austria","Azerbaijan","Bahamas"
		,"Bahrain","Bangladesh","Barbados","Belarus","Belgium","Belize","Benin","Bermuda","Bhutan","Bolivia","Bosnia &amp; Herzegovina","Botswana","Brazil","British Virgin Islands"
		,"Brunei","Bulgaria","Burkina Faso","Burundi","Cambodia","Cameroon","Cape Verde","Cayman Islands","Chad","Chile","China","Colombia","Congo","Cook Islands","Costa Rica"
		,"Cote D Ivoire","Croatia","Cruise Ship","Cuba","Cyprus","Czech Republic","Denmark","Djibouti","Dominica","Dominican Republic","Ecuador","Egypt","El Salvador","Equatorial Guinea"
		,"Estonia","Ethiopia","Falkland Islands","Faroe Islands","Fiji","Finland","France","French Polynesia","French West Indies","Gabon","Gambia","Georgia","Germany","Ghana"
		,"Gibraltar","Greece","Greenland","Grenada","Guam","Guatemala","Guernsey","Guinea","Guinea Bissau","Guyana","Haiti","Honduras","Hong Kong","Hungary","Iceland","India"
		,"Indonesia","Iran","Iraq","Ireland","Isle of Man","Israel","Italy","Jamaica","Japan","Jersey","Jordan","Kazakhstan","Kenya","Kuwait","Kyrgyz Republic","Laos","Latvia"
		,"Lebanon","Lesotho","Liberia","Libya","Liechtenstein","Lithuania","Luxembourg","Macau","Macedonia","Madagascar","Malawi","Malaysia","Maldives","Mali","Malta","Mauritania"
		,"Mauritius","Mexico","Moldova","Monaco","Mongolia","Montenegro","Montserrat","Morocco","Mozambique","Namibia","Nepal","Netherlands","Netherlands Antilles","New Caledonia"
		,"New Zealand","Nicaragua","Niger","Nigeria","Norway","Oman","Pakistan","Palestine","Panama","Papua New Guinea","Paraguay","Peru","Philippines","Poland","Portugal"
		,"Puerto Rico","Qatar","Reunion","Romania","Russia","Rwanda","Saint Pierre &amp; Miquelon","Samoa","San Marino","Satellite","Saudi Arabia","Senegal","Serbia","Seychelles"
		,"Sierra Leone","Singapore","Slovakia","Slovenia","South Africa","South Korea","Spain","Sri Lanka","St Kitts &amp; Nevis","St Lucia","St Vincent","St. Lucia","Sudan"
		,"Suriname","Swaziland","Sweden","Switzerland","Syria","Taiwan","Tajikistan","Tanzania","Thailand","Timor L'Este","Togo","Tonga","Trinidad &amp; Tobago","Tunisia"
		,"Turkey","Turkmenistan","Turks &amp; Caicos","Uganda","Ukraine","United Arab Emirates","United Kingdom","Uruguay","Uzbekistan","Venezuela","Vietnam","Virgin Islands (US)"
		,"Yemen","Zambia","Zimbabwe"]
    }
  },
  async created() {
    try {
      this.company = await CompanyService.getCompany(this.$store.state.user._id)
    } catch(err) {
      this.error = err.message;
    }
  },
  methods: {
    async updateCompany() {
      this.success = false;
      const formData = new FormData()
      for ( var key in this.company[0] ) {
      if( key == 'address' ){
      formData.append(key, JSON.stringify(this.company[0][key]))
      } else {
      formData.append(key, this.company[0][key]);
      }
      }
      await CompanyService.updateCompany(formData)
      this.company = await CompanyService.getCompany(this.$store.state.user._id)
      this.success = true;
    },
    processFile(file) {
      console.log(file)
    this.company[0].logourl = file
  }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.v-card--reveal {
  align-items: center;
  bottom: 0;
  justify-content: center;
  background-color: rgba(0,0,0,0.4);
  position: absolute;
  width: 100%;
  cursor: pointer;
}
</style>
