<template>
      <v-container>
        <v-row
          align="center"
          justify="center"
        >
      <v-container fluid>
      <v-row>
         <v-col cols="12">
          <h3>{{ content[0].title }}</h3>
          </v-col>
          <v-col cols="12">
            {{ content[0].type }}
         </v-col>
        <v-col cols="12">
        {{ content[0].maintext }}
      </v-col>
      </v-row>
    </v-container>
</v-row>
</v-container>
</template>

<script>
import ContentService from '../../server/mongo/contentservice';

export default {
  name: 'EditContent',
  data() {
    return {
      content: [{
        title:"",
        maintext:""
      }],
      error: '',
      success: '',
      successmsg: 'Content Updated',
      valid: true,
      nameRules: [
        v => !!v || 'Field can not be empty'
      ]
    }
  },
  async created() {
    try {
      const id = this.$route.params.id
      this.content = await ContentService.getContent(id)
    } catch(err) {
      this.error = err.message;
    }
  },
  methods: {
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
