<template>
      <v-container>
        <v-row>
          <v-container class="messagecontainer">
            <h3 class="mb-3">{{ recipient[0].company }}</h3>
            <v-container class="messagesbox">
      <v-col cols="12" v-for="(message, index) in messages" v-bind:item="message" v-bind:index="index" v-bind:key="message._id">
        <v-container>
      <v-row>
        <v-col cols="12">
          <v-card class="message-card" :class="{'mine':(message.user === newmessage.user)}">
          <v-card-text>
          {{ message.message }}
          </v-card-text>
        <v-card-subtitle>
        {{ message.datetime }}
        </v-card-subtitle>
          </v-card>
        </v-col>
      </v-row>
        </v-container>
      </v-col>
            </v-container>

<v-container class="sendmessage">
  <v-row>
    <v-col cols="12">
      <p>Send a message</p>
      <v-form ref="form" v-model="valid" lazy-validation @submit.prevent="postMessage()">
        <v-col cols="12">
            <v-text-field v-model="newmessage.message" :rules="nameRules" label="Message" type="text" value outlined></v-text-field>
      </v-col>
        <v-btn v-ripple small color="primary" class="mb-4" type="submit" :disabled="newmessage.message.length < 1" @click="postMessage()"><v-icon>mdi-thumb-up</v-icon></v-btn>
      </v-form>
      </v-col>
  </v-row>
</v-container>
</v-container>
</v-row>
</v-container>
</template>

<script>
import InboxService from '../../server/mongo/inboxservice';
import UserService from '../../server/mongo/userservice';

export default {
  name: 'Conversation',
  data() {
    return {
      messages: [],
      conversation: '',
      recipient: '',
      newmessage: {
        "user": this.$store.state.user._id,
        "message" : '',
        "conversationid" : this.$route.params.id,
        "recipient" : ''
      },
      valid: true,
      nameRules: [
        v => !!v
      ]
    }
  },
  async created() {
    try {
      const id = this.$route.params.id
      this.messages = await InboxService.getMessagesParam(id)
      this.conversation = await InboxService.getConversation(id)
      const recipientid = this.conversation[0].users.find(item => item !== this.$store.state.user._id)
      const getuser = await UserService.getUser(recipientid)
      this.recipient = getuser
      this.newmessage.recipient = getuser[0]._id
    } catch(err) {
      console.log(err.message);
    }
  },
  methods: {
    async postMessage() {
      await InboxService.postMessage(this.newmessage)
      this.newmessage.message = ''
      const id = this.$route.params.id
      this.messages = await InboxService.getMessagesParam(id)
      this.valid = true
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.messagecontainer {
  max-width: 900px;
}
.messagesbox {
  background-color: #e8e8e8;
  max-height: 800px;
  overflow-y: scroll;
}
.sendmessage {
  background-color: #fff;
  border: 1px solid #222;
}
.message-card {
  max-width: 300px;
  padding: 20px;

}
.v-card__text {
  font-weight: bold;
}
.mine {
  text-align: right;
  background-color: #1c01ff;
  margin-left: auto;
}
.mine .v-card__text {
  font-size: 1rem;
  color: #fff;
}
.mine .v-card__subtitle {
  color: #fff;
}
</style>
