<template>
  <v-container>
    <v-row>
      <v-col cols="12">
       <p>Messages</p>
      </v-col>
      <v-col cols="12" v-for="(conversation, index) in conversations" v-bind:item="conversation" v-bind:index="index" v-bind:key="conversation._id">
      <InboxCard :conversationuser="conversation.users" :conversationid="conversation._id" />
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import InboxService from '../../server/mongo/inboxservice';
import InboxCard from './InboxCard';

export default {
  name: 'Inbox',
  components: {
    InboxCard
  },
  data() {
    return {
      conversations: []
    }
  },
  async created() {
    try {
      this.conversations = await InboxService.getConversations(this.$store.state.user._id)
    } catch(err) {
      console.log(err.message);
    }
  },
  methods: {
  }
}
</script>
