<template>
      <v-card class="mx-auto pa-2" link :to="{name:'Conversation', params: { id: conversationid }}" append>
        <v-container fluid>
      <v-row>
        <v-col align-self="start" class="pa-0" cols="12">
          <v-avatar class="ma-3" color="grey" size="164" tile>
            <v-img :src="user[0].avatar"></v-img>
          </v-avatar>
        </v-col>
      </v-row>
        </v-container>
      <v-card-title>
        {{ user[0].company }}
      </v-card-title>
      </v-card>
</template>

<script>
import UserService from '../../server/mongo/userservice';
export default {
  name: 'Card',
  data() {
    return {
      user: [
        {
          _id: '',
          company: '',
          avatar: ''
        }
      ]
    }
  },
  props: {
    conversationuser: Array,
    conversationid: String
  },
  async created() {
    try {
      const recipientid = this.conversationuser.find(item => item !== this.$store.state.user._id)
      const getuser = await UserService.getUser(recipientid)
      this.user = getuser
    } catch(err) {
      console.log(err.message);
    }
  },
  methods: {
  }
}
</script>
