<template>
      <!-- <v-container
        class="fill-height"
        fluid
      >
        <v-row
          align="center"
          justify="center"
        > -->
          <v-form ref="form" align="left" class="my-5" v-model="valid" lazy-validation @submit.prevent="login">
            <v-text-field v-model="username" :rules="nameRules" label="Username" type="text" name="username" value outlined></v-text-field>
            <v-text-field v-model="password" :rules="passwordRules" label="Password" type="password" name="password" value outlined></v-text-field>
            <v-btn  block class="mb-4" type="submit" name="button" color="primary" :disabled="!valid" @click="validate">
              Login
            </v-btn>
            <v-alert type="error" v-if="this.$store.state.loginmsg" class="mt-8">
            {{ this.$store.state.loginmsg }}
            </v-alert>
            <a style="font-weight:bold;" href="#">Forgotten password?</a>
          </v-form>
        <!-- </v-row>
      </v-container> -->
  
</template>

<script>
export default {
    data: () => ({
      valid: true,
      username: '',
      nameRules: [
        v => !!v || 'Username is required',
      ],
      password: '',
      passwordRules: [
        v => !!v || 'Password is required',
      ]
    }),
    methods: {
    login () {
      this.$store
        .dispatch('login', {
          username: this.username,
          password: this.password
        })
        .then(() => { this.$router.push({ name: 'Dashboard' }) })
        .catch(err => {
          console.log(err)
        })
    },
    validate () {
        this.$refs.form.validate()
      }
  },
  created () {
    sessionStorage.clear();
    localStorage.removeItem('user')
    localStorage.removeItem('login_msg')
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
form {
  width: 80%;
  max-width: 400px;
  box-shadow: 0 15px 105px rgba(0, 0, 0, .1);
  padding: 20px;
}
</style>
