<template>
      <v-container>
        <v-row align="center">
      <v-col cols="12">
          <h3>My Content</h3>
          <v-btn color="primary" link :to="'/new-content/'">Create</v-btn>
          </v-col>
      <v-col cols="12" md="4" v-for="(content, index) in content" v-bind:item="content" v-bind:index="index" v-bind:key="content._id">
      <v-card class="mx-auto pa-2">
      <v-card-title>
        {{ content.title }}
      </v-card-title>
      <v-card-subtitle>
        {{ content.type }} | {{ content.date }}
      </v-card-subtitle>
      <v-card-actions>
        <v-btn color="primary" link :to="'/my-content/edit/'+content._id" append>Edit</v-btn>
        <v-btn color="primary" @click="deleteContent(content._id)">Delete</v-btn>
      </v-card-actions>
      </v-card>
      </v-col>
</v-row>
</v-container>
</template>

<script>
import ContentService from '../../server/mongo/contentservice';

export default {
  name: 'MyContent',
  data() {
    return {
      content: []
    }
  },
  async created() {
    try {
      this.content = await ContentService.getMyContent(this.$store.state.user.companyid)
    } catch(err) {
      console.log(err.message);
    }
  },
  methods: {
    async deleteContent(id){
      const obj = {
        id : id,
        companyid: this.$store.state.user.companyid
      }
      await ContentService.deleteContent(obj)
      this.content = await ContentService.getMyContent(this.$store.state.user.companyid)
      console.log('Deleted '+id)
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
