<template>
      <v-container>
        <v-row
          align="center"
          justify="center"
        >
    <p class="error" v-if="error">{{ error }}</p>
      <v-form class="mx-auto mb-3"
      v-for="(content, index) in content" v-bind:item="content" v-bind:index="index" v-bind:key="content._id" ref="form" v-model="valid" lazy-validation  @submit.prevent="createContent()">
      <v-container fluid>
      <v-row>
         <v-col cols="12">
          <h3>My Content</h3>
          </v-col>
          <v-col cols="12">
          <v-select v-model="content.type" :rules="nameRules" :items="type" label="Type" outlined></v-select>
          </v-col>
          <v-col cols="12">
            <v-text-field v-model="content.title" :rules="nameRules" label="Title" outlined></v-text-field>
         </v-col>
        <v-col cols="12">
        <v-text-field v-model="content.maintext" :rules="nameRules" label="Main Text" outlined></v-text-field>
      </v-col>
        <v-col cols="12">
      <v-file-input name="mainimage" ref="fileInput" id="fileInput" label="File input" @change="processFile"></v-file-input>
      </v-col>
      </v-row>
    </v-container>
    <v-container fluid>
      <v-row>
          <v-col cols="12">
      <v-btn v-ripple small color="primary" class="mb-4" type="submit" :disabled="!valid"><v-icon>mdi-thumb-up</v-icon></v-btn>
      <v-alert type="success" v-if="success">{{ successmsg }} <v-btn link :to="'/content/'+newcontentid">View Content</v-btn></v-alert>
      </v-col>
      </v-row>
    </v-container>
      </v-form>
</v-row>
</v-container>
</template>

<script>
import ContentService from '../../server/mongo/contentservice';

export default {
  name: 'NewContent',
  data() {
    return {
      content: [{
        "maintext":"",
        "companyid":this.$store.state.user.companyid,
        "type":"",
        "mainimage":"",
        "title":"",
        "date":""}],
      newcontentid: '',
      error: '',
      success: '',
      successmsg: 'Content Created',
      valid: true,
      nameRules: [
        v => !!v || 'Field can not be empty'
      ],
      type: ['Case Study','Video']
    }
  },
  async created() {
  },
  methods: {
    async createContent() {
      this.valid = false
      this.success = false;
      const formData = new FormData()
      for ( var key in this.content[0] ) {
      formData.append(key, this.content[0][key]);
      }
      const newcontent = await ContentService.createContent(formData)
      this.success = true;
      this.newcontentid = newcontent.data.insertedId
    },
    processFile(file) {
      console.log(file)
    this.content[0].mainimage = file
  }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
