<template>
      <v-container fluid>
<v-container fluid>
  <v-row>
    <v-col cols="12">
      <p>Send a message</p>
      <v-form ref="form" v-model="valid" lazy-validation @submit.prevent="postMessage()">
        <v-col cols="2">
            <v-text-field v-model="message.message" :rules="nameRules" label="Message" type="text" value outlined></v-text-field>
      </v-col>
        <v-btn v-ripple small color="primary" class="mb-4" type="submit" :disabled="message.message.length < 1 || btndis" ><v-icon>mdi-thumb-up</v-icon></v-btn>
      </v-form>
      </v-col>
  </v-row>
</v-container>
</v-container>
</template>

<script>
import NewConversationService from '../../server/mongo/newconversationservice';

export default {
  name: 'Conversation',
  data() {
    return {
      users : {
        "current": this.$store.state.user._id,
        "recipient": this.$route.params.id
        },
      message: {
        "user": this.$store.state.user._id,
        "message" : '',
        "conversationid" : this.$route.params.id
      },
      valid: true,
      btndis: false,
      nameRules: [
        v => !!v
      ]
    }
  },
  async created() {
    try {
      const checkconversation = await NewConversationService.checkConversations(this.users)
      if(checkconversation.redirect){
        this.$router.push({ path: checkconversation.redirect })
      }
    } catch(err) {
      console.log(err)
    }
  },
  methods: {
    async postMessage() {
      this.btndis = true;
      await NewConversationService.postMessage({"message":this.message,"users":this.users})
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.message-card {
  max-width: 300px;
  padding: 20px;

}
.mine {
  text-align: right;
  background-color: #1c01ff;
  margin-left: auto;
}
.mine .v-card__text {
  font-weight: bold;
  font-size: 1rem;
  color: #fff;
}
.mine .v-card__subtitle {
  color: #fff;
}
</style>
