<template>
      <!-- <v-container
        class="fill-height"
        fluid
      >
        <v-row
          align="center"
          justify="center"
        > -->
          <v-form ref="form" align="left" class="my-5" v-model="valid" lazy-validation @submit.prevent="registerBuyer">
            <v-container>
              <v-row>
                <v-col cols="12">
                  <h3>My Details</h3>
                  </v-col>
                <v-col cols="12" md="2">
                  <v-select v-model="buyer.salutation" :rules="nameRules" :items="salutations" label="Salutation"></v-select>
                </v-col>
                <v-col cols="12" md="5">
                  <v-text-field v-model="buyer.firstname" :rules="nameRules" label="First Name" type="text" value></v-text-field>
                </v-col>
                <v-col cols="12" md="5">
                  <v-text-field v-model="buyer.lastname" :rules="nameRules" label="Last Name" type="text" value></v-text-field>
                </v-col>
              </v-row>
              <v-row>
                <v-col cols="12" md="4">
                  <v-text-field v-model="buyer.company" :rules="nameRules" label="Company" type="text" value></v-text-field>
                </v-col>
                <v-col cols="12" md="4">
                  <v-select v-model="buyer.companyrole" :rules="nameRules" :items="roles" label="Role in Company"></v-select>
                </v-col>
                <v-col cols="12" md="4">
                  <v-text-field v-model="buyer.website" :rules="nameRules" label="Website" type="text" value></v-text-field>
                </v-col>
              </v-row>
              <v-row>
                  <v-col cols="12">
                  <h3>Address</h3>
                  </v-col>
                <v-col cols="12" md="4">
                <v-text-field v-model="buyer.address.line1" :rules="nameRules" label="Address Line 1"></v-text-field>
              </v-col>
                <v-col cols="12" md="4">
              <v-text-field v-model="buyer.address.line2" :rules="nameRules" label="Address Line 2"></v-text-field>
              </v-col>
                <v-col cols="12" md="4">
              <v-text-field v-model="buyer.address.city" :rules="nameRules" label="City"></v-text-field>
              </v-col>
            <v-col cols="12" md="4">
              <v-text-field v-model="buyer.address.postcode" :rules="nameRules" label="Zip/Postal Code"></v-text-field>
              </v-col>
          <v-col cols="12" md="4">
              <v-text-field v-model="buyer.address.region" :rules="nameRules" label="Region/Province"></v-text-field>
              </v-col>
                <v-col cols="12" md="4">
              <v-select v-model="buyer.address.country" :rules="nameRules" :items="countryList" label="Country"></v-select>
              </v-col>
          </v-row>
          <v-row>
            <v-col cols="12">
              <h3>Contact</h3>
              </v-col>
              <v-col cols="12">
                  <v-text-field v-model="buyer.email" :rules="emailRules" label="Email" type="text" value></v-text-field>
                </v-col>
              <v-col cols="4">
                <v-text-field v-model="buyer.phonecountry" :rules="nameRules" label="Country Code" type="text" value></v-text-field>
                </v-col>
                <v-col cols="8">
                  <v-text-field v-model="buyer.phone" :rules="nameRules" label="Phone" type="text" value></v-text-field>
                </v-col>
          </v-row>
          <v-row>
            <v-col cols="12">
              <h3>Interest</h3>
            </v-col>
            <v-col cols="12" md="4">
              <v-select v-model="buyer.primaryinterest" :rules="nameRules" :items="primaryinterests" label="Primary Interest"></v-select>
            </v-col>
            <v-col cols="12" md="4">
              <v-select v-model="buyer.budget" :rules="nameRules" :items="budget" label="Budget"></v-select>
            </v-col>
            <v-col cols="12" md="4">
              <v-select v-model="buyer.operatingregion" :rules="nameRules" :items="regions" label="Region"></v-select>
            </v-col>
            <v-col cols="12">
                  <v-text-field v-model="buyer.password" :rules="nameRules" label="Password" type="password" value></v-text-field>
                </v-col>
          </v-row>
            </v-container>
            <v-btn  block class="mb-4" type="submit" name="button" color="primary" :disabled="!valid" @click="validate">
              Sign Up
            </v-btn>
            <v-alert v-if="success" type="success">
            {{ success }}
            </v-alert>
            <v-alert v-if="error" type="error">
            {{ error }}
            </v-alert>
          </v-form>
        <!-- </v-row>
      </v-container> -->
  
</template>

<script>

import BuyerService from '../../server/mongo/buyerservice';

export default {
    data: () => ({
      valid: true,
      buyer: {
        salutation : '',
        firstname : '',
        lastname : '',
        company : '',
        companyrole : '',
        address : {
          line1 : '',
          line2 : '',
          city : '',
          postcode : '',
          region : '',
          country : ''
        },
        phonecountry : '',
        phone : '',
        email : '',
        website : '',
        primaryinterest : '',
        budget : '',
        operatingregion : '',
        password : ''
      },
      success: '',
      error: '',
      salutations: ['Dr','Eng','Prof','Miss','Mr','Mrs','Ms'],
      roles: ['Agent/Dealer/Distributor','Business Development Director','Chief Executive Officer','Chief Medical Officer','Commercial Director','Financial Director','General Manager','Hospital/Clinic Director','Managing Director','Media','Medical consultant','Sales/Marketing Manager','Other'],
      primaryinterests: ['Healthcare Management','Medical Instruments','Medical Services','Medical Equipment','Medical Devices','Dental','Pharma and Supplements','Healthcare Infrastructure & Assets','Imaging Diagnostics','Laboratory','Disposables and Consumer Goods','Other'],
      budget: ['Not Specific','Up to $50,000','Up to $100,000','Up to $250,000','Up to $500,000','Up to $1,000,000','Up to $5,000,000','Up to $10,000,000'],
      regions: ['Africa','Americas','Asia Pacific','Europe','Middle East','Oceania'],
      nameRules: [
        v => !!v || 'Field is required',
      ],
      emailRules: [
        v => !!v || 'E-mail is required',
        v => /.+@.+\..+/.test(v) || 'E-mail must be valid'
      ],
      countryList : ["Afghanistan","Albania","Algeria","Andorra","Angola","Anguilla","Antigua & Barbuda","Argentina","Armenia","Aruba","Australia","Austria","Azerbaijan","Bahamas"
		,"Bahrain","Bangladesh","Barbados","Belarus","Belgium","Belize","Benin","Bermuda","Bhutan","Bolivia","Bosnia &; Herzegovina","Botswana","Brazil","British Virgin Islands"
		,"Brunei","Bulgaria","Burkina Faso","Burundi","Cambodia","Cameroon","Cape Verde","Cayman Islands","Chad","Chile","China","Colombia","Congo","Cook Islands","Costa Rica"
		,"Cote D Ivoire","Croatia","Cruise Ship","Cuba","Cyprus","Czech Republic","Denmark","Djibouti","Dominica","Dominican Republic","Ecuador","Egypt","El Salvador","Equatorial Guinea"
		,"Estonia","Ethiopia","Falkland Islands","Faroe Islands","Fiji","Finland","France","French Polynesia","French West Indies","Gabon","Gambia","Georgia","Germany","Ghana"
		,"Gibraltar","Greece","Greenland","Grenada","Guam","Guatemala","Guernsey","Guinea","Guinea Bissau","Guyana","Haiti","Honduras","Hong Kong","Hungary","Iceland","India"
		,"Indonesia","Iran","Iraq","Ireland","Isle of Man","Israel","Italy","Jamaica","Japan","Jersey","Jordan","Kazakhstan","Kenya","Kuwait","Kyrgyz Republic","Laos","Latvia"
		,"Lebanon","Lesotho","Liberia","Libya","Liechtenstein","Lithuania","Luxembourg","Macau","Macedonia","Madagascar","Malawi","Malaysia","Maldives","Mali","Malta","Mauritania"
		,"Mauritius","Mexico","Moldova","Monaco","Mongolia","Montenegro","Montserrat","Morocco","Mozambique","Namibia","Nepal","Netherlands","Netherlands Antilles","New Caledonia"
		,"New Zealand","Nicaragua","Niger","Nigeria","Norway","Oman","Pakistan","Palestine","Panama","Papua New Guinea","Paraguay","Peru","Philippines","Poland","Portugal"
		,"Puerto Rico","Qatar","Reunion","Romania","Russia","Rwanda","Saint Pierre & Miquelon","Samoa","San Marino","Satellite","Saudi Arabia","Senegal","Serbia","Seychelles"
		,"Sierra Leone","Singapore","Slovakia","Slovenia","South Africa","South Korea","Spain","Sri Lanka","St Kitts & Nevis","St Lucia","St Vincent","St. Lucia","Sudan"
		,"Suriname","Swaziland","Sweden","Switzerland","Syria","Taiwan","Tajikistan","Tanzania","Thailand","Timor L'Este","Togo","Tonga","Trinidad & Tobago","Tunisia"
		,"Turkey","Turkmenistan","Turks & Caicos","Uganda","Ukraine","United Arab Emirates","United Kingdom","Uruguay","Uzbekistan","Venezuela","Vietnam","Virgin Islands (US)"
    ,"Yemen","Zambia","Zimbabwe"]
    }),
    methods: {
    async registerBuyer() {
      this.valid = false
      const response = await BuyerService.insertBuyer(this.buyer)
      console.log(response)
      if(response.type == "success") {
        this.error = ''
        this.success = response.message
        setTimeout(
          () => {
            this.$router.push({ name: 'Login' })
          }
        , 2000)
        
      } else {
        this.success = ''
        this.error = response.message
      }
    },
    validate () {
        this.$refs.form.validate()
      }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
form {
  width: 80%;
  max-width: 800px;
  box-shadow: 0 15px 75px rgba(139, 140, 185, .118178);
  padding: 20px;
}
</style>
