<template>
      <v-container fluid>
        <v-row align="center" justify="center">
      <v-col cols="12" v-for="(company, index) in company" v-bind:item="company" v-bind:index="index" v-bind:key="company._id">
        <v-container fluid>
      <v-row>
        <v-col cols="12">
        <v-avatar tile size="100">
          <img :src="company.logourl">
        </v-avatar>
        {{ company.companyname }}
        </v-col>
      </v-row>
        </v-container>

        <v-container fluid>
      <v-row>
        <v-col cols="12">
        {{ company.description }}
        </v-col>
        <v-col cols="12">
         <v-btn v-if="!self" v-ripple small color="primary" class="mb-4" link :to="'/new-conversation/'+company.userid"><v-icon>mdi-thumb-up</v-icon> Send a message</v-btn>
        </v-col>
      </v-row>
        </v-container>
      </v-col>
</v-row>
<v-row align="center">
      <v-col cols="12">
          <h3>My Content</h3>
          </v-col>
      <v-col cols="12" md="4" v-for="(content, index) in content" v-bind:item="content" v-bind:index="index" v-bind:key="content._id">
      <v-card class="mx-auto pa-2" link :to="'/content/'+content._id" append>
      <v-card-title>
        {{ content.title }}
      </v-card-title>
      <v-card-subtitle>
        {{ content.type }} | {{ content.date }}
      </v-card-subtitle>
      </v-card>
      </v-col>
</v-row>
</v-container>
</template>

<script>
import CompanyService from '../../server/mongo/companyservice';
import ContentService from '../../server/mongo/contentservice';
export default {
  name: 'CompanyProfile',
  data() {
    return {
      company: [],
      content: [],
      self: false
    }
  },
  async created() {
    try {
      const id = this.$route.params.id
      this.company = await CompanyService.getCompanyParam(id)
      this.content = await ContentService.getMyContent(this.$store.state.user.companyid)
      if (this.company[0].userid === this.$store.state.user._id) {
        this.self = true
      }
    } catch(err) {
      console.log(err.message);
    }
  },
  methods: {
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
