<template>
      <v-container>
        <v-row align="center">
      <v-col cols="12">
          <h3>Suppliers</h3>
          </v-col>
          <v-col cols="12">
          <v-select
            v-model="filter"
          :items="filterlist"
          label="Category"
          outlined
        ></v-select>
          </v-col>
      <v-col cols="12" md="4" v-for="(company, index) in filterSuppliers()" v-bind:item="company" v-bind:index="index" v-bind:key="company._id">
      <v-card class="mx-auto pa-2" link :to="company._id" append>
        <v-container fluid>
      <v-row>
        <v-col cols="12" class="pb-0">
        <v-avatar tile size="100">
          <img :src="company.logourl">
        </v-avatar>
        </v-col>
      </v-row>
        </v-container>
      <v-card-title>
        {{ company.companyname }}
      </v-card-title>
      <v-card-subtitle>
        {{ company.category }} | {{ company.subcategory }}
      </v-card-subtitle>
      </v-card>
      </v-col>
</v-row>
</v-container>
</template>

<script>
import CompanyService from '../../server/mongo/companyservice';

export default {
  name: 'CompanyProfile',
  data() {
    return {
      company: [],
      filter: '',
      filterlist: ['','Foo', 'Bar', 'Fizz', 'Buzz']
    }
  },
  async created() {
    try {
      this.company = await CompanyService.getCompanies()
    } catch(err) {
      console.log(err.message);
    }
  },
  methods: {
    filterSuppliers() {
      if (this.filter) {
        return this.company.filter(company => company.category === this.filter)
      } else {
        return this.company
      }
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
