@import url("https://fonts.googleapis.com/css?family=Questrial");

.v-application {
  font-family: "Questrial"!important;
}

.v-btn {
  text-transform: none!important;
  border-radius: 0!important;
  height: 42px;
}

fieldset {
  background-color: #FCFCFF!important;
  border-color: #CDCEE4!important;
}