<template>
    <v-app>
    <v-navigation-drawer
      v-model="drawer"
      v-if="loggedIn"
      app
    >
      <AppNav />
    </v-navigation-drawer>

    <v-app-bar
      app
      color="primary"
      dark
      v-if="loggedIn"
    >
    <v-app-bar-nav-icon @click.stop="drawer = !drawer" />
      <v-toolbar-title>FutureHealth Live</v-toolbar-title>
    </v-app-bar>

    <v-content>
      <router-view/>
    </v-content>
    <v-footer
      color="primary"
      app
    >
      <span class="white--text">&copy; 2019</span>
    </v-footer>
  </v-app>

</template>

<script>
import AppNav from '@/components/AppNav.vue'
import { authComputed } from './vuex/helpers.js'

export default {
  name: 'App-Nav',
  components: {
    AppNav
  },
  data: () => ({
      drawer: null,
  }),
  computed: {
        ...authComputed
  }
}
</script>

<style>
@import './css/global.css';
</style>